<header id="header">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<img class="logo" src="/assets/logo.png" />
				<ul class="navlist">
					<li><a href="#compatible">Compatible</a></li>
					<li><a href="#details">Details</a></li>
					<li><a href="#seamless">The Product</a></li>
					<li><a href="#">Catalog</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>
<div id="secondary" data-spy="affix" data-offset-top="150">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<img class="logo" src="/assets/logo_light.png" />
				<ul class="navlist">
					<li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Buy Now</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div id="index">
	<div class="banner">
		<h1>Simple. Secure. Storage.</h1>
		<p>Goes where you go.  Needed when you need it.  Double your storage.</p>
		<button class="buynow">Buy Now</button>
		<h5>See More<br><span class="glyphicon glyphicon-chevron-down"></span></h5>
	</div>
	<div id="compatible" class="compatible container">
		<div class="row">
			<div class="col-sm-12">
				<div class="compatible-slider">
					<div class="active"><img src="/assets/mbair.png" /></div>
					<div class="second"><img src="/assets/mbp15.png" /></div>
					<div class="third"><img src="/assets/mbp13.png" /></div>
					<div class="fourth"><img src="/assets/mbp15cd.png" /></div>
				</div>
				<div class="compatible-name">
					<h1 class="active">13" Macbook Air</h1>
					<h1 class="second">15" Macbook Pro</h1>
					<h1 class="third">13" Macbook Pro</h1>
					<h1 class="fourth">Macbook Pro with CD Drive</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<h2>Compatible with All Macbooks</h2>
				<p>TarDisk has something for nearly every MacBook model out there. From the impossibly small 16MM long TarDisk R13A to the 22mm long TarDisk R15A, all cards are designed to fit your MacBook seamlessly and match your Mac's finish.</p>
				<a class="viewmore" href="#">View More <span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
		</div>
	</div>
	<div id="details" class="details">
		<div class="container-fluid">
			<div class="detail row">
				<div class="col-sm-5">
					<img class="stylish" src="/assets/stylish.jpg" />
				</div>
				<div class="col-sm-5 col-sm-offset-1">
					<h2>Super Fast Flash Storage</h2>
					<p>
						TarDisk storage expansion cards for the MacBook Air and MacBook Pro. Just slide it into the SD slot on the side of your MacBook and instantly boost your storage capacity.<br><br>
						With up to 256GB available, you can store 124,000 photos, 64,000 songs or 3,840 minutes of Full HD video.
					</p>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="detail row">
				<div class="col-sm-5">
					<h2>Safe and Secure</h2>
					<p>
						TarDisk cleverly seats inside your SD port. Our cards are waterproof, shock proof and nearly indestructible, keeping your files safe like never before!<br><br>
						Just like the MacBook Pro, TarDisk is constructed from a solid aluminum uni-body frame.TarDisk's precision design seamlessly integrates into your MacBook and when necessary, can be removed with just a finger.
					</p>
				</div>
				<div class="col-sm-5 col-sm-offset-2">
					<img class="remove" src="/assets/removing.jpg" />
				</div>
			</div>
			<div class="detail row">
				<div class="col-sm-4 col-sm-offset-1">
					<img class="timemachine" src="/assets/timemachine.jpg" />
				</div>
				<div class="col-sm-5 col-sm-offset-2">
					<h2>A Time Machine Inside</h2>
					<p>
						TarDisk integrates with your MacBook's native Time Machine. Easily set up a daily back-up to run automatically while TarDisk is present.<br><br>
						And because TarDisk is water-proof and shock-proof (unlike your Mac) you'll be able to keep your files in the event of an accident
					</p>
				</div>
			</div>
		</div>
	</div>
	<div id="seamless" class="seamless">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<h2>Built to be Seamless</h2>
					<p>The TarDisk product line includes some of the shortest, best performing SDXC based storage solutions on the market. TarDisk products fit nearly every MacBook sold since 2010, as well as some other devices without adding extra bulk.</p>
				</div>
			</div>
			<div class="row explosion">
				<div class="col-sm-12">
					<div id="macbook" class="section">
						<img src="/assets/seamless_mac.png" />
					</div>
					<div id="chassis" class="section">
						<h3 class="title">Chassis</h3>
						<img src="/assets/tardisk_chassis.png" />
						<p class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<div id="plastic" class="section">
						<h3 class="title">Sleek</h3>
						<img src="/assets/tardisk_plastic.png" />
						<p class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<div id="flash" class="section">
						<h3 class="title">Flash Storage</h3>
						<img src="/assets/seamless_guts.jpg" />
						<p class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<div id="dividerone"></div>
					<div id="dividertwo"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					
				</div>
			</div>
		</div>
	</div>
	<div id="press" class="press">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h2>In the Press</h2>
				</div>
			</div>
			<div class="row">
				<div class="images col-sm-12">
					<img src="/assets/wired.png" />
					<img src="/assets/fastco.png" />
					<img src="/assets/verge.png" />
					<img src="/assets/mashable.png" />
				</div>
			</div>
		</div>
	</div>
	<div id="blog" class="blog">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<h2>Recent News</h2>
					<div class="row">
						<div class="col-sm-3">
							<img class="profile" src="/assets/pierce_profile.png" />
						</div>
						<div class="col-sm-9">
							<h3>Pierce Schiller, CEO</h3>
							<h4>July 14th, 2015</h4>
						</div>
					</div>
				</div>
				<div class="col-sm-7 col-sm-offset-1">
					<p>
						"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br><br>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 foot-info">
				<img class="logo" src="/assets/logo_light.png" />
				<ul class="links">
					<li><a href="#">Privacy</a></li>
					<li><a href="#">Terms</a></li>
					<li><a href="#">Legal</a></li>
					<li><a href="#">Team</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>

<link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.slick/1.5.6/slick.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script>
	$(document).ready(function(){
		var slider = $(".compatible-slider")


		$(".compatible-slider").on("click", function(){
			$(".compatible-slider .active").addClass("transition")
			$(".compatible-slider .second").removeClass("second").addClass("active")
			$(".compatible-slider .third").removeClass("third").addClass("second")
			$(".compatible-slider .fourth").removeClass("fourth").addClass("third")
			$(".compatible-slider .transition").removeClass("transition active").addClass("fourth")

			$(".compatible-name .active").addClass("transition")
			$(".compatible-name .second").removeClass("second").addClass("active")
			$(".compatible-name .third").removeClass("third").addClass("second")
			$(".compatible-name .fourth").removeClass("fourth").addClass("third")
			$(".compatible-name .transition").removeClass("transition active").addClass("fourth")
		});

		// slider.slick({
		// 	centerMode: true,
		// 	centerPadding: '0px',
		// 	slidesToShow: 3,
		// 	arrows: false
		// });

		console.log(window.devicePixelRatio);

	});

		// /**
		//  * JavaScript Client Detection
		//  * (C) viazenetti GmbH (Christian Ludwig)
		//  */
		// (function (window) {
		//     {
		//         var unknown = '-';

		//         // screen
		//         var screenSize = '';
		//         if (screen.width) {
		//             width = (screen.width) ? screen.width : '';
		//             height = (screen.height) ? screen.height : '';
		//             screenSize += '' + width + " x " + height;
		//         }

		//         //browser
		//         var nVer = navigator.appVersion;
		//         var nAgt = navigator.userAgent;
		//         var browser = navigator.appName;
		//         var version = '' + parseFloat(navigator.appVersion);
		//         var majorVersion = parseInt(navigator.appVersion, 10);
		//         var nameOffset, verOffset, ix;

		//         // Opera
		//         if ((verOffset = nAgt.indexOf('Opera')) != -1) {
		//             browser = 'Opera';
		//             version = nAgt.substring(verOffset + 6);
		//             if ((verOffset = nAgt.indexOf('Version')) != -1) {
		//                 version = nAgt.substring(verOffset + 8);
		//             }
		//         }
		//         // MSIE
		//         else if ((verOffset = nAgt.indexOf('MSIE')) != -1) {
		//             browser = 'Microsoft Internet Explorer';
		//             version = nAgt.substring(verOffset + 5);
		//         }
		//         // Chrome
		//         else if ((verOffset = nAgt.indexOf('Chrome')) != -1) {
		//             browser = 'Chrome';
		//             version = nAgt.substring(verOffset + 7);
		//         }
		//         // Safari
		//         else if ((verOffset = nAgt.indexOf('Safari')) != -1) {
		//             browser = 'Safari';
		//             version = nAgt.substring(verOffset + 7);
		//             if ((verOffset = nAgt.indexOf('Version')) != -1) {
		//                 version = nAgt.substring(verOffset + 8);
		//             }
		//         }
		//         // Firefox
		//         else if ((verOffset = nAgt.indexOf('Firefox')) != -1) {
		//             browser = 'Firefox';
		//             version = nAgt.substring(verOffset + 8);
		//         }
		//         // MSIE 11+
		//         else if (nAgt.indexOf('Trident/') != -1) {
		//             browser = 'Microsoft Internet Explorer';
		//             version = nAgt.substring(nAgt.indexOf('rv:') + 3);
		//         }
		//         // Other browsers
		//         else if ((nameOffset = nAgt.lastIndexOf(' ') + 1) < (verOffset = nAgt.lastIndexOf('/'))) {
		//             browser = nAgt.substring(nameOffset, verOffset);
		//             version = nAgt.substring(verOffset + 1);
		//             if (browser.toLowerCase() == browser.toUpperCase()) {
		//                 browser = navigator.appName;
		//             }
		//         }
		//         // trim the version string
		//         if ((ix = version.indexOf(';')) != -1) version = version.substring(0, ix);
		//         if ((ix = version.indexOf(' ')) != -1) version = version.substring(0, ix);
		//         if ((ix = version.indexOf(')')) != -1) version = version.substring(0, ix);

		//         majorVersion = parseInt('' + version, 10);
		//         if (isNaN(majorVersion)) {
		//             version = '' + parseFloat(navigator.appVersion);
		//             majorVersion = parseInt(navigator.appVersion, 10);
		//         }

		//         // mobile version
		//         var mobile = /Mobile|mini|Fennec|Android|iP(ad|od|hone)/.test(nVer);

		//         // cookie
		//         var cookieEnabled = (navigator.cookieEnabled) ? true : false;

		//         if (typeof navigator.cookieEnabled == 'undefined' && !cookieEnabled) {
		//             document.cookie = 'testcookie';
		//             cookieEnabled = (document.cookie.indexOf('testcookie') != -1) ? true : false;
		//         }

		//         // system
		//         var os = unknown;
		//         var clientStrings = [
		//             {s:'Windows 10', r:/(Windows 10.0|Windows NT 10.0)/},
		//             {s:'Windows 8.1', r:/(Windows 8.1|Windows NT 6.3)/},
		//             {s:'Windows 8', r:/(Windows 8|Windows NT 6.2)/},
		//             {s:'Windows 7', r:/(Windows 7|Windows NT 6.1)/},
		//             {s:'Windows Vista', r:/Windows NT 6.0/},
		//             {s:'Windows Server 2003', r:/Windows NT 5.2/},
		//             {s:'Windows XP', r:/(Windows NT 5.1|Windows XP)/},
		//             {s:'Windows 2000', r:/(Windows NT 5.0|Windows 2000)/},
		//             {s:'Windows ME', r:/(Win 9x 4.90|Windows ME)/},
		//             {s:'Windows 98', r:/(Windows 98|Win98)/},
		//             {s:'Windows 95', r:/(Windows 95|Win95|Windows_95)/},
		//             {s:'Windows NT 4.0', r:/(Windows NT 4.0|WinNT4.0|WinNT|Windows NT)/},
		//             {s:'Windows CE', r:/Windows CE/},
		//             {s:'Windows 3.11', r:/Win16/},
		//             {s:'Android', r:/Android/},
		//             {s:'Open BSD', r:/OpenBSD/},
		//             {s:'Sun OS', r:/SunOS/},
		//             {s:'Linux', r:/(Linux|X11)/},
		//             {s:'iOS', r:/(iPhone|iPad|iPod)/},
		//             {s:'Mac OS X', r:/Mac OS X/},
		//             {s:'Mac OS', r:/(MacPPC|MacIntel|Mac_PowerPC|Macintosh)/},
		//             {s:'QNX', r:/QNX/},
		//             {s:'UNIX', r:/UNIX/},
		//             {s:'BeOS', r:/BeOS/},
		//             {s:'OS/2', r:/OS\/2/},
		//             {s:'Search Bot', r:/(nuhk|Googlebot|Yammybot|Openbot|Slurp|MSNBot|Ask Jeeves\/Teoma|ia_archiver)/}
		//         ];
		//         for (var id in clientStrings) {
		//             var cs = clientStrings[id];
		//             if (cs.r.test(nAgt)) {
		//                 os = cs.s;
		//                 break;
		//             }
		//         }

		//         var osVersion = unknown;

		//         if (/Windows/.test(os)) {
		//             osVersion = /Windows (.*)/.exec(os)[1];
		//             os = 'Windows';
		//         }

		//         switch (os) {
		//             case 'Mac OS X':
		//                 osVersion = /Mac OS X (10[\.\_\d]+)/.exec(nAgt)[1];
		//                 break;

		//             case 'Android':
		//                 osVersion = /Android ([\.\_\d]+)/.exec(nAgt)[1];
		//                 break;

		//             case 'iOS':
		//                 osVersion = /OS (\d+)_(\d+)_?(\d+)?/.exec(nVer);
		//                 osVersion = osVersion[1] + '.' + osVersion[2] + '.' + (osVersion[3] | 0);
		//                 break;
		//         }

		//         // flash (you'll need to include swfobject)
		//         /* script src="//ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js" */
		//         var flashVersion = 'no check';
		//         if (typeof swfobject != 'undefined') {
		//             var fv = swfobject.getFlashPlayerVersion();
		//             if (fv.major > 0) {
		//                 flashVersion = fv.major + '.' + fv.minor + ' r' + fv.release;
		//             }
		//             else  {
		//                 flashVersion = unknown;
		//             }
		//         }
		//     }

		//     window.jscd = {
		//         screen: screenSize,
		//         browser: browser,
		//         browserVersion: version,
		//         mobile: mobile,
		//         os: os,
		//         osVersion: osVersion,
		//         cookies: cookieEnabled,
		//         flashVersion: flashVersion
		//     };
		// }(this));

		// alert(
		//     'OS: ' + jscd.os +' '+ jscd.osVersion + '\n'+
		//     'Browser: ' + jscd.browser +' '+ jscd.browserVersion + '\n' + 
		//     'Mobile: ' + jscd.mobile + '\n' +
		//     'Flash: ' + jscd.flashVersion + '\n' +
		//     'Cookies: ' + jscd.cookies + '\n' +
		//     'Screen Size: ' + jscd.screen + '\n\n' +
		//     'Full User Agent: ' + navigator.userAgent
		// ); 






		// findOS();
		// console.log(navigator);

		// function findOS() {
		// 	var OSName="Unknown OS";
		// 	if (navigator.appVersion.indexOf("Win")!=-1) OSName="Windows";
		// 	if (navigator.appVersion.indexOf("Mac")!=-1) OSName="MacOS";
		// 	if (navigator.appVersion.indexOf("X11")!=-1) OSName="UNIX";
		// 	if (navigator.appVersion.indexOf("Linux")!=-1) OSName="Linux";

		// 	console.log(OSName);
		// }
		
		// function identifyReso() {
		// 	var width = window.screen.width
		// 	var height = window.screen.height;
		// 	var dppx = window.devicePixelRatio;
		
		// 	var valueArray = [width, height, dppx];
			
		// 	for (i = 0; i < valueArray.length; i++) {
		// 		if (valueArray[i] == undefined) {
		// 			valueArray[i] = "Undefined";
		// 		}
		// 	}
		// 	return valueArray;
		// }
		
		// function determineOS() {
		// 	var _os_ = (function(){
		// 		var userAgent = navigator.userAgent.toLowerCase();
				
		// 		return {
		// 			isMac105: /Mac OS X 10_5/.test(userAgent),
		// 			isMac106: /Mac OS X 10_6/.test(userAgent),
		// 			isMac107: /Mac OS X 10_7/.test(userAgent),
		// 			isMac108: /Mac OS X 10_8/.test(userAgent),
		// 			isMac109: /Mac OS X 10_9/.test(userAgent),
		// 			isMac1010: /Mac OS X 10_10/.test(userAgent),
		// 			isMac10104: /Mac OS X 10_10_4/.test(userAgent),
		// 		};
		// 	}());

		// 	// get OS shorthand names
			
		// 	if(_os_.isMac105) {
		// 	OS = "Mac OS X 10.5";
		// 	}
			
		// 	if(_os_.isMac106) {
		// 	OS = "Mac OS X 10.6";
		// 	}

		// 	if(_os_.isMac107) {
		// 	OS = "Mac OS X 10.7";
		// 	}
			
		// 	if(_os_.isMac108) {
		// 	OS = "Mac OS X 10.8";
		// 	}

		// 	if(_os_.isMac109) {
		// 	OS = "Mac OS X 10.9";
		// 	}

		// 	if(_os_.isMac1010) {
		// 	OS = "Mac OS X 10.10";
		// 	}

		// 	if(_os_.isMac10104) {
		// 	OS = "Mac OS X 10.10.4";
		// 	}
			
		// 	console.log(OS)
		// }
		
		// function identifyMacbook() {
		// 	resoArray = identifyReso();
		// 	OS = determineOS();
		// 	var macbook;
			
		// 	if (OS == "Mac OS X 10.9" && resoArray[2] == 2) {
		// 		macbook = "Recent Macbook Pro -- Retina"
		// 	}
			
		// 	// repeat with identifiable info for each MacBook
			
		// 	// for testing: alert(resoArray + OS);
			
		// }

</script>