/* line 7, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
header#header {
  background: #fff;
}

/* line 11, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#header .logo {
  height: 5em;
  margin-top: 1em;
  margin-bottom: 2em;
}

/* line 17, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#header .navlist {
  font-family: 'Noto Sans', sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
  height: 5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/* line 27, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#header .navlist li {
  display: inline-block;
}

/* line 30, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#header .navlist li a {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0 1em;
  display: inline-block;
  line-height: 5em;
  height: 5em;
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
  text-decoration: none;
}

/* line 42, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#header .navlist li a:hover {
  opacity: .6;
}

/* line 47, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#secondary {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: -10em;
  width: 100%;
  background: #1c4075;
  z-index: 50000;
  transition: all .25s;
  -ms-transition: all .25s;
  -moz-transition: all .25s;
  -webkit-transition: all .25s;
}

/* line 60, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#secondary.affix {
  margin-top: 0;
}

/* line 63, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#secondary .logo {
  height: 3em;
  margin-top: .5em;
  margin-bottom: 1em;
}

/* line 69, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#secondary .navlist {
  font-family: 'Noto Sans', sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
  height: 3em;
  margin-top: .75em;
  margin-bottom: .75em;
}

/* line 79, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#secondary .navlist li {
  display: inline-block;
}

/* line 82, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#secondary .navlist li a {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0 1em;
  display: inline-block;
  line-height: 3em;
  height: 3em;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

/* line 94, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#secondary .navlist li a:hover {
  opacity: .6;
}

/* line 103, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#index {
  width: 100%;
}

/* line 106, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#index .banner {
  display: block;
  width: 100%;
  background: url("/assets/banner_02.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
}

/* line 117, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#index .banner h1 {
  color: #fff;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  font-size: 3.25em;
}

/* line 123, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#index .banner h5 {
  color: #fff;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  line-height: 2em;
  font-size: 1.5em;
}

/* line 130, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#index .banner p {
  color: #fff;
  font-size: 1.5em;
  font-weight: 400;
  font-family: 'Noto Sans', sans-serif;
}

/* line 136, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#index .banner .buynow {
  font-size: 1.5em;
  padding: .5em 1.5em;
  color: #fff;
  background: orange;
  border-radius: .3em;
  margin-top: 15em;
  margin-bottom: 1em;
  outline: 0;
  border: 0;
}

/* line 148, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#index .compatible {
  padding-top: 8em;
}

/* line 151, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#index .compatible-slider {
  min-height: 30em;
  position: relative;
  width: 100%;
}

/* line 156, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#index .compatible-slider div {
  transition: all .25s;
  -ms-transition: all .25s;
  -moz-transition: all .25s;
  -webkit-transition: all .25s;
}

/* line 162, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#index .compatible-slider div img {
  width: 100%;
  opacity: 1;
}

/* line 166, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#index .compatible-slider .active {
  position: absolute;
  width: 40%;
  left: 50%;
  margin-left: -20%;
  opacity: 1;
  z-index: 500;
  top: 5em;
}

/* line 175, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#index .compatible-slider .second {
  position: absolute;
  width: 15%;
  left: 75%;
  margin-left: -7.5%;
  opacity: .4;
  z-index: 200;
  top: 2em;
}

/* line 184, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#index .compatible-slider .third {
  position: absolute;
  width: 10%;
  left: 50%;
  margin-left: -5%;
  opacity: .1;
  z-index: 100;
  top: 0;
}

/* line 193, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#index .compatible-slider .fourth {
  position: absolute;
  width: 15%;
  left: 25%;
  margin-left: -7.5%;
  opacity: .4;
  z-index: 200;
  top: 2em;
}

/* line 202, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#index .compatible-name {
  display: block;
  width: 100%;
  position: relative;
  height: 4em;
  margin-bottom: 1em;
}

/* line 209, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#index .compatible-name h1 {
  display: block;
  width: 100%;
  margin: 0;
  top: 0;
  left: 0;
  text-align: center;
  position: absolute;
  opacity: 0;
  transition: all .25s;
  -ms-transition: all .25s;
  -moz-transition: all .25s;
  -webkit-transition: all .25s;
}

/* line 223, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#index .compatible-name h1.active {
  display: block;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  position: absolute;
  opacity: 1;
}

/* line 235, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#index .compatible-slider .slick-slide:focus {
  outline: 0;
}

/* line 238, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#index .compatible-slider .slick-center img {
  opacity: 1;
  width: 100%;
  padding-top: 1em;
}

/* line 246, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#index .compatible h2 {
  color: #000;
  font-size: 2.75em;
  font-weight: 700;
  text-align: center;
  margin-bottom: .5em;
  font-family: 'Nota Sans', sans-serif;
}

/* line 254, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#index .compatible p {
  color: #666;
  font-size: 1.25em;
  margin-bottom: 1em;
  line-height: 1.75em;
  font-family: 'Nota Sans', sans-serif;
  text-align: center;
}

/* line 262, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#index .compatible .viewmore {
  display: block;
  text-align: center;
  font-size: 1.5em;
  margin: 1.5em 0 5em;
}

/* line 268, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#index .details {
  border-top: 1px solid #eee;
  background: #fff;
  padding-top: 4em;
  padding-bottom: 8em;
}

/* line 274, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#index .details .detail {
  padding-top: 4em;
  padding-bottom: 4em;
}

/* line 278, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#index .details .icon {
  display: block;
  width: 15em;
  margin: 3em auto 0;
}

/* line 283, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#index .details .stylish {
  display: block;
  width: 100%;
}

/* line 287, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#index .details .remove {
  display: block;
  width: 100%;
}

/* line 291, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#index .details .timemachine {
  display: block;
  width: 100%;
}

/* line 295, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#index .details h2 {
  color: #000;
  font-size: 2.75em;
  font-weight: 700;
  text-align: left;
  margin-top: 1.5em;
  margin-bottom: .5em;
  font-family: 'Nota Sans', sans-serif;
}

/* line 304, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#index .details p {
  color: #666;
  font-size: 1.25em;
  margin-bottom: 1em;
  line-height: 1.75em;
  font-family: 'Nota Sans', sans-serif;
  text-align: left;
}

/* line 312, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#index .seamless {
  padding: 8em 0;
}

/* line 315, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#index .seamless h2 {
  color: #000;
  font-size: 2.75em;
  font-weight: 700;
  text-align: center;
  margin-bottom: .5em;
  font-family: 'Nota Sans', sans-serif;
}

/* line 323, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#index .seamless p {
  color: #666;
  font-size: 1.25em;
  margin-bottom: 1em;
  line-height: 1.75em;
  font-family: 'Nota Sans', sans-serif;
  text-align: center;
}

/* line 331, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#index .seamless img {
  display: block;
  margin: 7em auto;
  position: relative;
}

/* line 336, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#index .seamless .explosion {
  position: relative;
  min-height: 50em;
}

/* line 340, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#index .seamless .explosion .section {
  position: relative;
  display: block;
  top: 0;
  transition: all .2s;
  -ms-transition: all .2s;
  -moz-transition: all .2s;
  -webkit-transition: all .2s;
}

/* line 349, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#index .seamless .explosion .section h3.title {
  position: absolute;
  left: 0;
  opacity: 0;
  transition: all .5s;
  -ms-transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
}

/* line 358, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#index .seamless .explosion .section p.info {
  position: absolute;
  right: 0;
  top: 0;
  width: 25%;
  opacity: 0;
  transition: all .5s;
  -ms-transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
}

/* line 369, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#index .seamless .explosion #macbook {
  top: 0;
  z-index: 500;
}

/* line 373, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#index .seamless .explosion #chassis {
  top: -350px;
  z-index: 400;
}

/* line 377, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#index .seamless .explosion #flash {
  top: -660px;
  z-index: 300;
}

/* line 381, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#index .seamless .explosion #dividerone {
  width: 100%;
  display: block;
  height: 1px;
  position: relative;
  top: -1000px;
}

/* line 388, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#index .seamless .explosion #dividertwo {
  width: 100%;
  display: block;
  height: 1px;
  position: relative;
  top: -600px;
}

/* line 396, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#index .press {
  background: #f5f5f5;
  padding: 8em 0;
}

/* line 400, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#index .press h2 {
  color: #000;
  font-size: 2.75em;
  font-weight: 700;
  text-align: center;
  margin-bottom: .5em;
  font-family: 'Nota Sans', sans-serif;
}

/* line 408, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#index .press .images {
  text-align: center;
}

/* line 411, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#index .press img {
  display: inline-block;
  width: 20%;
}

/* line 415, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#index .blog {
  padding: 8em 0;
}

/* line 418, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#index .blog h2 {
  color: #000;
  font-size: 2.75em;
  font-weight: 700;
  text-align: left;
  margin: 0 0 .5em;
  padding-bottom: .5em;
  border-bottom: 1px solid #ccc;
  font-family: 'Nota Sans', sans-serif;
}

/* line 428, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#index .blog h3 {
  color: #444;
  font-size: 1.25em;
  font-weight: 400;
  text-align: left;
  margin: .75em 0 0;
  font-family: 'Nota Sans', sans-serif;
}

/* line 436, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#index .blog h4 {
  color: #888;
  font-style: italic;
  font-size: 1em;
  font-weight: 400;
  text-align: left;
  margin: .5em 0 0;
  font-family: 'Nota Sans', sans-serif;
}

/* line 445, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#index .blog p {
  color: #666;
  font-size: 1.25em;
  margin-bottom: 1em;
  line-height: 1.75em;
  font-family: 'Nota Sans', sans-serif;
  text-align: left;
}

/* line 453, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#index .blog .profile {
  display: block;
  width: 100%;
}

/* line 458, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#index .mock {
  width: 100%;
  display: block;
}

/* line 463, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
footer#footer {
  background: #1c4075;
  padding: 6em 0 10em;
}

/* line 468, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#footer .foot-info {
  border-top: 1px solid #ccc;
  padding-top: 1em;
  padding-left: 0;
  padding-right: 0;
}

/* line 474, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#footer .foot-info .logo {
  height: 3em;
}

/* line 477, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#footer .foot-info .links {
  margin: 0;
  padding: 0;
  float: right;
  list-style-type: none;
}

/* line 483, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#footer .foot-info .links li {
  height: 3em;
  display: inline-block;
}

/* line 487, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#footer .foot-info .links li:last-child a {
  padding-right: 0;
}

/* line 490, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
#footer .foot-info .links li a {
  height: 3em;
  line-height: 3em;
  color: #fff;
  padding-left: 1em;
  padding-right: 1em;
}

/*    Slick Slider Stuffs     */
/* line 505, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

/* line 526, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/* line 536, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
.slick-list:focus {
  outline: none;
}

/* line 540, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

/* line 546, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 556, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

/* line 564, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

/* line 571, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
.slick-track:after {
  clear: both;
}

/* line 575, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
.slick-loading .slick-track {
  visibility: hidden;
}

/* line 580, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

/* line 588, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
[dir='rtl'] .slick-slide {
  float: right;
}

/* line 592, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
.slick-slide img {
  display: block;
}

/* line 596, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
.slick-slide.slick-loading img {
  display: none;
}

/* line 600, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
.slick-slide.dragging img {
  pointer-events: none;
}

/* line 604, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
.slick-initialized .slick-slide {
  display: block;
}

/* line 608, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
.slick-loading .slick-slide {
  visibility: hidden;
}

/* line 612, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/main.scss */
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
/* line 20, /Users/Bryan/Desktop/projects/tardisk/app/assets/stylesheets/application.scss */
html, html body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
